body {
  background-image: url(/images/wolfgang-hasselmann-L4VxDFJmaOM-unsplash.jpg);
  background-repeat: no-repeat ;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  min-width: 320px;
  height: 100vh;
  grid-template-columns: [first] 30% [line2] 40% [line3] 30% [end];
  grid-template-rows: [row1-start] 35% [row1-end] 30% [third-line] 35% [last-line];
  font-family: 'Nanum Gothic', sans-serif;
}

#war-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.card.small {
  font-size: 12px; }

h1 {
  font-size: 18px;
  padding: 10px;
  margin: 0;
}

.center-deal {
  grid-column: 2 / 3;
  place-self: center;
}

.center-deal > div {
  margin: 0;
}

.user {
  grid-column: 1 / 2;
}

.war-d-2 {
  justify-self: center;
  align-self: end;
}

.war-d-2 > div {
  margin: 5px;
}

.war-d-1 {
  display: grid;
  align-self: start;
  justify-self: center;
}

.war-d-1 > div {
  margin: 5px;
}

.war-d-1 > .buttons {
  justify-self: center;
  align-self: end;
  margin-top: 30px;
}

#deal-btn {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: rgba(255, 255, 255, 0.454);
  border: none;
  border-radius: 10px;
  padding: 8px;
}

#reset-btn {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: rgba(135, 187, 111, 0.606);
  border: none;
  border-radius: 10px;
  padding: 8px;
}

.computer {
  display: grid;
}

.computer > div {
  margin: 0;
  justify-self: center;
}

.computer > img {
  max-width: 50px;
  border-radius: 50%;
  justify-self: end;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.292);
}

.user {
  display: grid;
}

.user > div {
  margin: 0;
  justify-self: center;
  align-self: end;
}

.user > img {
  max-width: 50px;
  border-radius: 50%;
  padding: 5px;
  align-self: end;
  background-color: rgba(255, 255, 255, 0.292);
}

.information {
  display: grid;
}

.information > #message {
  text-align: center;
  place-self: center;
}

.information > img {
  padding: 5px;
  max-height: 100px;
  border-radius: 10px;
  justify-self: end;
  align-self: end;
}

#message {
  text-align: center;
  font-size: 12px;
  padding: 5px;
}

#message.background {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.657);
}

@media only screen and (min-width: 768px) {
  body {
    height: 100%;
    max-width: 900px;
  } 
  
  h1 {
    font-size: 40px;
  }

  .card.large {
    font-size: 26px; }

  .computer > img {
    max-width: 80px;
  }

  .user > img {
    max-width: 80px;
  }
}