body {
  background-image: url(/images/wolfgang-hasselmann-L4VxDFJmaOM-unsplash.jpg);
  background-repeat: no-repeat ;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  min-width: 320px;
  grid-template-columns: [first] 30% [line2] 40% [line3] 30% [end];
  grid-template-rows: [row1-start] 35% [row1-end] 30% [third-line] 35% [last-line];
}

h1 {
  font-size: 15px;
  padding: 10px;
  margin: 0;
}

.center-deal {
  grid-column: 2 / 3;
  place-self: center;
}

.center-deal > div {
  margin: 0;
}

.user {
  grid-column: 1 / 2;
}

.war-d-2 {
  justify-self: center;
  align-self: end;
}

.war-d-2 > div {
  margin: 5px;
}

.war-d-1 {
  align-self: start;
  justify-self: center;
}

.war-d-1 > div {
  margin: 5px;
}

.computer {
}

.computer > img {
  max-width: 50px;
  border-radius: 50%;
}

.user > img {
  max-width: 50px;
  border-radius: 50%;
}