body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/images/wolfgang-hasselmann-L4VxDFJmaOM-unsplash.jpg);
  background-repeat: no-repeat ;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 30px auto;
}

main {
  display: grid;
  height: 100vh;
  grid-template-columns: [first] 30% [line2] 40% [line3] 30% [end];
  grid-template-rows: [row1-start] 35% [row1-end] 30% [third-line] auto [last-line];
  font-family: 'Nanum Gothic', sans-serif;
  margin: auto 1px;
}

.card.small {
  font-size: 17px; 
}

h1 {
  font-size: 25px;
  padding: 10px;
  margin: 0;
}

.center-deal {
  grid-column: 2 / 3;
  place-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.center-deal > div {
  margin: 0;
}

.user {
  grid-column: 1 / 2;
}

.war-d-2 {
  justify-self: center;
  align-self: end;
}

.war-d-2 > div {
  margin: 5px;
}

.war-d-1 {
  display: grid;
  align-self: start;
  justify-self: center;
}

.war-d-1 > div {
  margin: 5px;
}

.war-d-1 > .buttons {
  justify-self: center;
  align-self: end;
  margin-top: 30px;
}

#deal-btn {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: rgba(255, 255, 255, 0.454);
  border: none;
  border-radius: 10px;
  padding: 8px;
  color: black;
  font-size: 15px;
}

#reset-btn {
  font-family: 'Nanum Gothic', sans-serif;
  background-color: rgba(135, 187, 111, 0.606);
  border: none;
  border-radius: 10px;
  padding: 8px;
  color: black;
  font-size: 15px;
}

.computer {
  display: grid;
}

.computer > div {
  margin: 0;
  justify-self: center;
}

.computer > img {
  max-width: 50px;
  border-radius: 50%;
  justify-self: end;
  align-self: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.292);
}

.user {
  display: grid;
}

.user > div {
  margin: 0;
  justify-self: center;
  align-self: end;
}

.user > img {
  max-width: 50px;
  border-radius: 50%;
  padding: 5px;
  align-self: center;
  background-color: rgba(255, 255, 255, 0.292);
}

.information {
  display: grid;
}

.information > #message {
  text-align: center; 
  place-self: center; 
  font-size: 15px; 
  text-align: center;
  padding: 5px;
}

.information > img {
  padding: 5px;
  max-height: 120px;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
	box-shadow: inset 0px 0px 85px rgba(0,0,0,0.4);
}

#message.background {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.657);
}

@media only screen and (min-width: 768px) {
  main {
    min-width: 700px;
    max-height: 700px;
  }

  h1 {
    font-size: 40px;
  }

  .card.large {
    font-size: 24px; }

  .computer > img {
    max-width: 80px;
  }

  .user > img {
    max-width: 80px;
  }

  .information {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  } 

  .information > #message {
    justify-self: end;
    align-self: start;
    font-size: 18px;
  }

  .information > img {
    max-height: 200px;
  }

}

@media only screen and (min-width: 1024px) {
  main {
    min-width: 1200px;
  }
}